In [3]:
import numpy
import pandas as pd

df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df=df[['Survived','Pclass','Sex','Fare']]
df.head()

   Survived  Pclass     Sex     Fare
0         0       3    male   7.2500
1         1       1  female  71.2833
2         1       3  female   7.9250
3         1       1  female  53.1000
4         0       3    male   8.0500

In [5]:
df.isnull().sum() #null값 없음

Survived    0
Pclass      0
Sex         0
Fare        0
dtype: int64

In [25]:
from sklearn.preprocessing import LabelEncoder
encoder_gender = LabelEncoder()
df['Sex']=encoder_gender.fit_transform(df['Sex'].values)
df.head()

   Survived    Pclass  Sex      Fare
0         0  0.827377    1 -0.502445
1         1 -1.566107    0  0.786845
2         1  0.827377    0 -0.488854
3         1 -1.566107    0  0.420730
4         0  0.827377    1 -0.486337

In [26]:
from sklearn.preprocessing import StandardScaler
standard = StandardScaler()
df_std = pd.DataFrame(standard.fit_transform(df[['Pclass','Fare']]),
                     columns=['Pclass','Fare'])

df['Pclass'] = df_std['Pclass']
df['Fare']= df_std['Fare']
df.head()

   Survived    Pclass  Sex      Fare
0         0  0.827377    1 -0.502445
1         1 -1.566107    0  0.786845
2         1  0.827377    0 -0.488854
3         1 -1.566107    0  0.420730
4         0  0.827377    1 -0.486337

In [27]:
#훈련데이터, 정답 데이터 분리 

x = df.drop(columns='Survived')
y = df[['Survived']]

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2,
                                                        random_state=1,
                                                        shuffle=True)

y_train.shape # 정답레이블 개수가 712개.

(712, 1)

In [29]:
import numpy as np

In [30]:
y_train= np.ravel(y_train) # ravel : reshape 과 반대방향으로 행렬을 바꿔줌. 
y_test = np.ravel(y_test)

In [31]:
y_train.shape

(712,)

In [32]:
x_train.shape

(712, 3)

In [33]:
from sklearn.svm import LinearSVC
model = LinearSVC(random_state=1)

In [34]:
model.fit(x_train, y_train)
score = model.score(x_test, y_test)
score

C:\Users\LGPC\Anaconda3\envs\keras\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.776536312849162

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

rdc = RandomForestClassifier(random_state=1)
param_grid = {
    'criterion':['gini','entropy'],
    'n_estimators':[25,100,500,1000,2000],
    'min_samples_split':[0.5,2,4,10],
    'min_samples_leaf':[1,2,4,10],
    'bootstrap':[True, False]
}

grid = GridSearchCV(estimator=rdc,
                   param_grid=param_grid)

grid = grid.fit(x_train, y_train)
print(grid.best_score_)
print(grid.best_params_)

In [36]:
model = RandomForestClassifier(n_estimators='n_estimators')

In [23]:
#선생님이 구했던 결과값
model = RandomForestClassifier(n_estimators=500,
                              criterion='entropy',
                              min_samples_split=2,
                              min_samples_leaf=4,
                              bootstrap=True,
                              random_state=1)
y=np.ravel(y)
model.fit(x,y)

ValueError: could not convert string to float: 'male'