# SF Salaries Exercise

Import pandas as pd.

In [1]:
import pandas as pd

Read Salaries.csv as a dataframe called sal.

In [2]:
df = pd.read_csv('Salaries.csv')

C:\Users\LGPC\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Check the head of the DataFrame.

In [3]:
df.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

Use the .info() method to find out fow many entries there are.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148645 entries, 0 to 148644
Data columns (total 13 columns):
Id                  148645 non-null int64
EmployeeName        148645 non-null object
JobTitle            148645 non-null object
BasePay             148040 non-null float64
OvertimePay         148645 non-null float64
OtherPay            148645 non-null float64
Benefits            112486 non-null float64
TotalPay            148645 non-null float64
TotalPayBenefits    148645 non-null float64
Year                148645 non-null int64
Notes               0 non-null float64
Agency              148645 non-null object
Status              38114 non-null object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

What is the average BasePay?

In [5]:
df.BasePay.mean()

66327.6889596918

What is the highest amount of OVertimePay in the dataset?

In [6]:
df.OvertimePay.max()

245131.88

What is the job title of JOSEPH DRISCOLL? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [26]:
is_joseph = df['EmployeeName'] == 'JOSEPH DRISCOLL'
joseph= df[is_joseph]['JobTitle']
joseph

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

How much does JOSEPH DRISCOLL make (including benefits)?

In [27]:
df[is_joseph]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

What is the name of highest paid person (including benefits)?

In [45]:
totalmax = df['TotalPayBenefits'].max()
totalmax_is =  df['TotalPayBenefits']==totalmax
totalmax_name= df[totalmax_is]['EmployeeName']
totalmax_name

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

What is hte name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid

In [51]:
totalmin = df['TotalPayBenefits'].min()
totalmin_is =  df['TotalPayBenefits']==totalmax
totalmin_df= df[totalmax_is]

totalmin_df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110530,110531,David P Kucia,Police Officer 3,NaN,0.0,0.0,-33.89,0.0,-33.89,2013,NaN,San Francisco,NaN

What was the average (mean) BasePay of all employees per year? (2011-2014) ?

How many uniuque job titles are there?

What are the top 5 most common jobs?

How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013) ?

How many people have the word Chief in thier job title? (This is pretty tricky) (using lambda expression)

Bonus: Is there a correlation between length of the Job Title string and Salary?